*{
    padding: 0;
    padding: 0;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(177, 177, 98);
    color: rgb(16, 0, 0);
    text-align: center; */
}

#search-button{
    display: flex;
    justify-content: center;
}