*{
    padding: 0;
    padding: 0;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(177, 177, 98);
    color: rgb(16, 0, 0);
    text-align: center; */
}

#search-button{
    display: flex;
    justify-content: center;
}

#flow-root{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

