*{
    padding: 0;
    padding: 0;

}

img{
    height: 100%;
    width: 75px;
}

#search-title{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

img{
 display: flex;
justify-content: left;
}

#favorite-button{
    display: flex;
   
}

footer{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    /* background-color: rgb(177, 177, 98);
    color: rgb(16, 0, 0);
    text-align: center; */
}

#search-button{
    display: flex;
    justify-content: center;
}

.search-container{
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 1600px;
    max-height: fit-content;
    padding: 30px 40px;
    background-color: rgb(88, 156, 156);
   display: flex;
   justify-content: space-between;
   flex-grow: 7;
   flex-wrap: wrap;
    
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }

